<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<form class="form py-4 needs-validation h-adr" method="post" th:action="@{/hyoujistudent/{id}(id = *{id})}" th:object="${student}">
	    
	<div class="row mt-3">        
	<label for="name" class="col-4 col-form-label text-end">名前</label>
	<div class="col-4">
		<input type="text" class="form-control" id="name" name="name" th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : 'is-valid'" />
	<divvf="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback">errors!
	</div>
　	</div>    
	</div>
	
	<div class="row mt-3">        
	<label for="no" class="col-4 col-form-label text-end">学籍番号</label>
	<div class="col-4">
	<input type="text" class="form-control" id="no" name="no" th:field="*{no}" th:classappend="${#fields.hasErrors('no')} ? 'is-invalid' : 'is-valid'" />
	<divvf="${#fields.hasErrors('no')}" th:errors="*{no}" class="invalid-feedback">errors!
　　</div>
　</div>    
	</div>
	
	<div class="row mt-3">        
	<label for="entYear" class="col-4 col-form-label text-end">入学年度</label>
	<div class="col-4">
	<input type="entYear" class="form-control" id="entYear" name="entYear" th:field="*{entYear}" th:classappend="${#fields.hasErrors('entYear')} ? 'is-invalid' : 'is-valid'" />
	<divvf="${#fields.hasErrors('entYear')}" th:errors="*{entYear}" class="invalid-feedback">errors!
　　</div>
　	</div>    
	</div>
	
	<div class="row mt-3">        
	<label for="classNum" class="col-4 col-form-label text-end">クラス番号</label>
	<div class="col-4">
	<input type="classNum" class="form-control" id="classNum" name="classNum" th:field="*{classNum}" th:classappend="${#fields.hasErrors('classNum')} ? 'is-invalid' : 'is-valid'" />
	<divvf="${#fields.hasErrors('classNum')}" th:errors="*{classNum}" class="invalid-feedback">errors!
　　</div>
　	</div>    
	</div>
	
	<div class="col-4">
	<input type="submit" value="送信する">
	<a href="/">戻る</a>
</div>
　　</div>
　</div>
</form>